.card {
  width: 26rem;
  height: 10rem;
  transition: box-shadow 0.08s ease-in-out;
  &.mini {
    height: 6rem;
  }

  &.red {
    @apply from-red-300 to-pink-500;
    box-shadow: 0 0 8px 0 theme('colors.red.300');
    &:hover {
      box-shadow: 0 0 16px 0 theme('colors.red.300');
    }
  }

  &.blue {
    @apply from-blue-300 to-blue-700;
    box-shadow: 0 0 8px 0 theme('colors.blue.300');
    &:hover {
      box-shadow: 0 0 16px 0 theme('colors.blue.300');
    }
  }

  &.green {
    @apply from-green-300 to-green-700;
    box-shadow: 0 0 8px 0 theme('colors.green.300');
    &:hover {
      box-shadow: 0 0 16px 0 theme('colors.green.300');
    }
  }

  &.yellow {
    @apply from-yellow-300 to-yellow-600;
    box-shadow: 0 0 8px 0 theme('colors.yellow.300');
    &:hover {
      box-shadow: 0 0 16px 0 theme('colors.yellow.300');
    }
  }
}
